@charset "UTF-8";
/* ОБНУЛЕНИЕ */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ============================ */
:root {
  --color-dark: #48555b;
  --color-blue: #00a4e5;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: var(--color-dark);
  line-height: 1.2;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  min-height: 100vh;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 15px;
}

.isbg {
  position: relative;
}

.isbg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn {
  padding: 11px 27px;
  background: var(--color-blue);
  color: #fff;
  font-size: 13px;
  letter-spacing: 0.5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover {
  background: var(--color-dark);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0;
  position: absolute;
  width: 100%;
}

.hero {
  padding: 381px 0 71px;
  background: url(../img/bg.jpg) center/cover no-repeat;
  color: #fff;
  text-align: center;
}

.hero__title {
  font-size: 60px;
  text-align: center;
  letter-spacing: 5.70937px;
  font-weight: 600;
}

.hero__title:not(:last-child) {
  margin: 0 0 21px 0;
}

.hero__subtitle {
  font-size: 16px;
  font-weight: 400;
}

.hero__subtitle:not(:last-child) {
  margin: 0 0 221px 0;
}

.hero__text {
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 3.7px;
}

.nav {
  padding: 24px 0;
  border-bottom: 1px solid #e6e6e6;
  margin: 0 0 58px 0;
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item:not(:last-child) {
  margin: 0 48px 0 0;
}

.nav__link {
  color: var(--color-dark);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1.09091px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 700;
}

.nav__link:hover {
  color: var(--color-blue);
}

.about:not(:last-child) {
  margin: 0 0 118px 0;
}

.about__title {
  font-size: 18px;
  letter-spacing: 2.30625px;
  color: var(--color-dark);
  font-size: 18px;
  letter-spacing: 2.30625px;
  font-weight: 700;
  text-align: center;
  position: relative;
}

.about__title:not(:last-child) {
  margin: 0 0 58px 0;
}

.about__title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  height: 2px;
  width: 50px;
  background: var(--color-blue);
}

.about__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.about__column {
  max-width: 405px;
}

.about__column-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.1875px;
}

.about__column-title span {
  color: var(--color-blue);
}

.about__column-title:not(:last-child) {
  margin: 0 0 30px 0;
}

.about__column-text {
  font-size: 13px;
  line-height: 1.77;
  letter-spacing: 0.1875px;
  font-weight: 400;
}

.about-images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(140px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 20px;
  padding: 20px 0 0 0;
}

.about-images__item {
  padding: 0 0 93% 0;
}

.about-images__text {
  position: relative;
  font-size: 24px;
  letter-spacing: 0.1875px;
  color: #ffffff;
  padding: 15px;
}

.services:not(:last-child) {
  margin: 0 0 115px 0;
}

.services__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__header:not(:last-child) {
  margin: 0 0 78px 0;
}

.services-header__title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2.30625px;
  position: relative;
}

.services-header__title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 2px;
  width: 50px;
  background: var(--color-blue);
}

.services-header__text {
  font-size: 11px;
  line-height: 1.73;
  letter-spacing: 0.2px;
  max-width: 400px;
  font-weight: 400;
}

.services-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

.services-list__item {
  padding: 38px 23px 40px;
  border: 1px solid #e6e6e6;
}

.services-list__icon:not(:last-child) {
  margin: 0 0 25px 0;
}

.services-list__text {
  letter-spacing: 0.426667px;
}

.services-list__text:not(:last-child) {
  margin: 0 0 13px 0;
}

.services-list__desc {
  font-size: 13px;
  line-height: 1.77;
  font-weight: 400;
  letter-spacing: 0.1875px;
}

.get-in-touch {
  padding: 120px 15px 231px;
  background: url(../img/get-in-touch.jpg) center/cover no-repeat;
  text-align: center;
}

.get-in-touch__title {
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0.15px;
  font-weight: 700;
}

.get-in-touch__title:not(:last-child) {
  margin: 0 0 35px 0;
}

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #171819;
  padding: 29px 15px;
}

.newsletter__text {
  margin: 0 70px 0 0;
  font-size: 22px;
  letter-spacing: 0.846154px;
  color: #ffffff;
}

.newsletter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newsletter__input {
  padding: 11px 16px;
}

.newsletter__button {
  padding: 11px 48px;
  font-weight: 700;
}

.footer {
  background: #141a20;
  color: #fff;
  font-weight: 400;
  font-size: 11px;
  line-height: 2.25;
  letter-spacing: 0.846154px;
}

.footer__top {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copyright {
  padding: 22px 0;
  text-align: center;
  font-weight: 400;
}

.company {
  max-width: 250px;
}

.company__title {
  font-size: 11px;
  line-height: 1.77;
  letter-spacing: 0.85px;
}

.company__title:not(:last-child) {
  margin: 0 0 20px 0;
}

.company__logo:not(:last-child) {
  margin: 0 0 20px 0;
}

.links__title:not(:last-child) {
  margin: 0 0 10px 0;
}

.links__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.links__item {
  display: block;
  font-weight: 600;
}

.links__item:not(:last-child) {
  margin: 0 0 7px 0;
}

.links__link {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.links__link:hover {
  color: var(--color-blue);
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.contact__title {
  font-weight: 400;
}

.contact__title:not(:last-child) {
  margin: 0 0 15px 0;
}

.contact__tel {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact__tel:hover {
  color: var(--color-blue);
}

.contact__email {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact__email:hover {
  color: var(--color-blue);
}

.social {
  padding: 45px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__link svg {
  width: 12px;
  height: 12px;
}

.social__link svg:hover path {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: var(--color-blue);
}

.social__link:not(:last-child) {
  margin: 0 25px 0 0;
}

@media (max-width: 991px) {
  .hero {
    padding: 130px 0 30px 0;
  }
  .hero__title {
    font-size: 28px;
    font-weight: 700;
  }
  .hero__title:not(:last-child) {
    margin: 0 0 50px 0;
  }
  .hero__subtitle {
    font-size: 14px;
  }
  .hero__subtitle:not(:last-child) {
    margin: 0 0 50px 0;
  }
  .nav__container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .nav__item:not(:last-child) {
    margin: 0 10px 0 0;
  }
  .nav__logo {
    display: none;
  }
  .about:not(:last-child) {
    margin: 0 0 50px 0;
  }
  .about__body {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about__column {
    max-width: none;
  }
  .services__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .services__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .services-list {
    justify-items: center;
  }
  .services-list__item {
    text-align: center;
    max-width: 550px;
  }
  .services-header:not(:last-child) {
    margin: 0 0 50px 0;
  }
  .services-header__title::after {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .services-header__title:not(:last-child) {
    margin: 0 0 30px 0;
  }
  .services-header__text {
    text-align: center;
  }
  .services-header__text:not(:last-child) {
    margin: 0 0 30px 0;
  }
  .newsletter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .newsletter__text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .newsletter__text:not(:last-child) {
    margin: 0 0 15px 0;
  }
  .newsletter__button {
    padding: 11px 20px;
  }
  .footer__top {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 40px;
    padding: 0;
  }
  .footer__copyright {
    font-size: 10px;
  }
  .links__body {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 7px;
  }
  .social {
    padding: 0;
  }
}
/*# sourceMappingURL=style.css.map */